body {
    box-sizing: border-box;
    margin: auto;
}

.container {
    background-image: url(pexels-photo-10838922.jpeg);
    display: flex;
    margin: auto;
    flex-direction: column;
}

header {
    margin: 10px;
    padding: 1vh 1vw 1vh;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    color: darkblue;
    background-color: rgba(255, 99, 71, 1);
    opacity: 0.7;
}

h3 {
    text-align: center;
    margin: 12px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#Hand {
    padding: 1px;
    border-radius: .5rem;
    border-color: lightblue;
    box-shadow: 0px 4px 0px .5px darkslategray;
    margin: auto;
}

.card {
    position: relative;
    margin: -.5px;
    height: 47.1vh;
    width: 17vw;
    border: 2.2px solid darkblue;
    border-radius: .5rem;
    display: inline;
    float: left;
    font-size: 8rem;
    background-color: whitesmoke;
    text-align: center;
}

#cardValue {
    font-size: 4rem;
    position: relative;
    padding-bottom: 0.7em;
}

#cardSuit {
    position: relative;
    bottom: 60px;
    display: inline;
    font-size: 8rem;
}

#cardWeight {
    display: none;
}

/* HTML Text */
.theNext {
    text-align: center;
    color: white;
    margin: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.higherButton {
    margin: 7px;
    font-size: medium;
    border-style: groove;
    border-width: 4px;
    border-radius: 6px;
    border-color: lightblue;
    box-shadow: 0px 5px 1px 5px darkslategray;
}

.lowerButton {
    margin: 7px;
    font-size: medium;
    border-style: groove;
    border-width: 4px;
    border-radius: 6px;
    border-color: lightblue;
    box-shadow: 0px 5px 1px 5px darkslategray;
}

/* You were: */
#result {
    display: inline-block;
    text-align: center;
    padding: 3px;
    width: 10rem;
    opacity: .9;
    font-size: large;
    color: whitesmoke;
    border-radius: 5%;
    box-shadow: 0px 2px 18px 5px lightblue;
    margin: auto;
}

/* You've got 0/0 correct. */
#score {
    display: inline-block;
    text-align: center;
    padding: 2.5px;
    width: 12rem;
    opacity: .9;
    font-size: large;
    color: whitesmoke;
    border-radius: 5%;
    box-shadow: 0px 2px 18px 5px lightblue;
    margin: auto;
}

.resultScore{
    margin: auto;
}

.restButton {
    font-size: medium;
    border-style: groove;
    border-width: 4px;
    border-radius: 6px;
    border-color: lightblue;
    box-shadow: 0px 5px 1px 5px darkslategray;
}
.resetBTN{
    margin: auto;
}

.buttons{
    margin: auto;
}

.bottomBox {
    margin: 10px;
    padding: 1vh 1vw 1vh;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: darkblue;
    background-color: rgba(255, 99, 71, 1);
    opacity: 0.7;
}