body {
    box-sizing: border-box;
}

* {
    border: 0 solid red;
    margin: auto;
}

.container {
    display: flex;
    margin: auto;
    min-height: 30vh;
    background-color:beige;
    flex-direction: column;
}

header {
    margin: 19px;
    padding: 3vh 1vw 3vh;
    flex-grow: .5;
    font-size: 30px;
    text-align: center;
    background-color: lightgrey;
    border: 1px solid black;
    font-size: 1.5rem;
}

#Hand {
    padding: -9px;
    border-radius: .5rem;
}

.card {
    position: relative;
    margin: -.5px;
    height: 50vh;
    width: 17vw;
    border: 2px solid black;
    border-radius: .5rem;
    display: inline;
    float: left;
    font-size: 8rem;
    background-color: whitesmoke;
}

#cardWeight {
    display: none;
}

#cardValue {
    padding: .5rem;
    font-size: 4rem;
}

#cardSuit {
    position: flex;
    display: inline;
    margin: 5px 50px -10px;
    font-size: 11rem;
}

.higherButton {
    margin: 20px;
    border-style: groove;
    border-width: 3px;
    border-color: grey;
    border-radius: 4px;
}

.lowerButton {
    margin: 20px;
    border-style: groove;
    border-width: 3px;
    border-color: grey;
    border-radius: 4px;
}

#result {
    padding: 2px;
}

#score {
    padding: 2px;
}
.restButton {
    border-style: groove;
    border-width: 3px;
    border-color: grey;
    border-radius: 4px;
}
.bottomBox {
    margin: 19px;
    padding: 3vh 1vw 3vh;
    flex-grow: .5;
    font-size: 30px;
    text-align: center;
    background-color: lightgrey;
    border: 1px solid black;
    font-size: 1rem;
}
